// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
	width: 7--px;
	lat: -12.04333
	lng: -77.028333 

}
